<div class="dashboard-container">

  <button type="button" class="btn btn-outline-dark">MOVIE</button>

  <% @weeks.each do |content_by_week| %>
    <div class="weekly-content">
      <h3> <%= (Date.commercial(2017, content_by_week[0]).strftime("%A, %b %d"))%> - <%= ((Date.commercial(2017, content_by_week[0]) + 7).strftime("%A, %b %d"))%> </h3>

      <div class="cards-container dashboard">
        <% content_by_week[1].each do |content| %>
          <%= render '/shared/content_card', content: content %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
