
<div class="page-container">

  <!-- <div class="dashboard-container col-12"> -->

    <div class="weekly-content">
      <h3> WEEK 1 </h3>
      <div class="cards-container dashboard">
        <% @content.each do |cont| %>
        <div class="card-content dashboard">
          <img src="<%= cont[:image_url] %>" />
          <div class="card-content-info">
            <p> <%= cont[:expiration_date] %> </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="weekly-content">
    <h3> WEEK 2 </h3>
    </div>
    <div class="weekly-content">
    <h3> WEEK 3 </h3>
    </div>
    </div>
  </div>
</div>
