
<div class="dashboard-container">

  <% @weeks.keys.each do |weekNumber| %>
    <div class="weekly-content">
      <h3> <%= (Date.commercial(2017, weekNumber).strftime("%A, %b %d"))%> - <%= ((Date.commercial(2017, weekNumber) + 7).strftime("%A, %b %d"))%> </h3>

      <div class="cards-container dashboard">
        <% @weeks[weekNumber].each do |cont| %>
        <%= render '/shared/content_card', content:cont %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
