<div class="container-setup">
  <div class="row">
    <div class="mx-auto" style="width: 500px;">
      <h3>Content setup</h3>
      <textarea placeholder="Import your list. Instructions to import." rows="4" cols="50"></textarea>
    </div>
  </div>

  <div class="row justify-content-center">

    <h3>Or select titles</h3>

  </div>

  <div class="row justify-content-center">

   <%=  f.input :title, as: :autocomplete, source: autocomplete_contents__path %>


      <form autocomplete="off" action="/action_page.php">
        <div class="autocomplete" style="width:300px;">
          <input id="myInput" type="text" name="myCountry" placeholder="Content Search">
        </div>
        <input type="submit">
      </form>
    </div>
  </div>

  <div class="row justify-content-center">
    <h3>Content list</h3>
    <ul>
<!--    <%# @movies.each do |movie| %>
      <li><%#= movie.title %></li>
    <%# end %>

  -->
</ul>
</div>




<div class="add1">
  <%= link_to "Add", "#", class: "btn btn-dark" %>
</div>
</div>



<!--
-->
