<h1>Outflix</h1>

<h2>Welcome (name) to Outflix App!!!</h2>
<p>Never miss out on the chance to watch a Netflix title before it leaves the platform ever again:)</p>

<p>Expiring contents!! Go to Outflix App!!!</p>

<%= link_to "Get back on the website", root_url %>

