<!--
<%#= image_tag "logo_email.png", alt: "Outflix logo" %>
-->
<div class="email-sign-up">
<img src="https://res.cloudinary.com/mrbean/image/upload/v1583510060/samples/outflix/logo_email_ynvx59.png" style="width:300px">

<h2>Hi <%= @user.first_name.capitalize %>, welcome to Outflix!</h2>
<h3>Never miss out on the chance to watch a Netflix title before it leaves the platform ever again!</h3>
<h3>Set your account, and receive notifications!</h3>
<h3>Check the calendar with all leaving titles!</h3>


<%= link_to "Get back to Outlix website", root_url %>
</div>

<style>
  .email-sign-up {
    text-align: center;
    font-family: Oswald, sans-serif;
    width: 70%;
    margin: 35px auto;
  }
</style>

