// Import page-specific CSS files here.
@import "home";
@import "content_dashboard";
@import "setup";
@import "title_show";

.background {
  background-size: cover;
  background-position: center;
  font-family: Oswald, sans-serif;
}
