.expiration-highlight {
  position: relative;
  z-index: 1;
  text-align: center;
  display: inline-flex;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.expiration-highlight::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #973781 20%, rgba(0, 0, 0, 0) 60%);
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;

  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
}

.show-icon {
  font-size: 22px;
  color: #f8f9fa;
  opacity: 0.5;
}

.rails-social-share-button .ssb-icon {
  background-size: 40px 40px !important;
  height: 40px !important;
  width: 40px !important;
}

.rails-social-share-button {
  display: flex !important;
  justify-content: space-around !important;
}

.title-font {
  font-family: Lato, sans-serif;
  font-size: 24px;
  margin-bottom: 50px;
}

.header-font {
  font-family: Lato, sans-serif;
  font-size: 18px;
  opacity: 0.5;
}
