<div class="card-content dashboard">
  <%= link_to content_path(content[:imdbid]) do %>
  <img src="<%= content[:image_url] %>" />
  <div class="card-content-info">
    <p> <%= (content[:expiration_date]).strftime("%d/%m/%y") %></p>
    <% end %>
  </div>
</div>
