<div class="card-content dashboard">
  <%= link_to content_path(content) do %>
  <img src="<%= content.image_url %>" />
  <div class="card-content-info">
    <p> <%= content.expiration_date.strftime("%d/ %m/ %y") %></p>
    <p> <%= content.genre %></p>
  <% end %>
  </div>
</div>
