<div class="footer">
  <div class="footer-info">
    <div class="footer-socials">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-links">
      <%= link_to "About", "#", class: "info-links" %>
      <%= link_to "FAQ", "#", class: "info-links" %>
      <%= link_to "Contact", "#", class: "info-links" %>
    </div>
  </div>

  <div class="footer-copyright">
    © 2020 Outflix
  </div>
</div>
