<div class="intro-container">
  <div class="illustration">
    <%= image_tag "undraw_star_wars.svg", alt: "star wars illustration" %>
  </div>
  <div class="star1"></div>
  <div class="circle1"></div>
  <div class="star2"></div>
  <div class="circle2"></div>
  <div class="star3"></div>
  <div class="star4"></div>
  <div class="star5"></div>
  <div class="star6"></div>
  <div class="circle3"></div>
  <div class="star7"></div>
  <div class="circle4"></div>
  <div class="intro">
    <h2>Never miss out on the chance to watch a Netflix title before it leaves the platform ever again</h2>
  </div>
</div>

<div class="signup-container-one">
  <li>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn-signup" %>
  </li>
</div>
<li class="signup-info" align="center">
  It's free!
</li>

<div class="hp-cards-container">
  <div class="hp-cards-banner"></div>
  <div class="hp-cards">
    <div class="hp-card"></div>
    <div class="hp-cards-info-container-one">
      <p class="hp-cards-info">
        Get access to a calendar display with the deadlines for each soon-to-be-removed title
      </p>
    </div>
  </div>

  <div class="hp-cards-banner"></div>
  <div class="hp-cards">
    <div class="hp-cards-info-container-two">
      <p class="hp-cards-info hp-info-two">
        Get notified whenever Netflix assigns an Available until… date on a title you have in your ‘My List’
      </p>
    </div>
    <div class="hp-card hp-card-two"></div>
  </div>
</div>

<li class="signup-extra" align="center">
  Sign up now to see what content is leaving Netflix soon!
</li>

<div class="signup-container-two">
  <li>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn-signup" %>
  </li>
</div>

