.access-background {
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  font-family: Oswald, sans-serif;
}

.container-access {
  padding: 40px;
  border-radius: 15px;
  width: 450px;
  margin: 42px auto;
  background-color: white;
}

h2 {
  font-family: Oswald, sans-serif;
  font-weight: lighter;
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.access-button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  padding: 10px 0;
}

.access-links {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
