.background {
  background-size: cover;
  background-position: center;
  height: 1500px;
  padding: 15px 0;
  font-family: Oswald, sans-serif;
}

.intro-container {
  display: flex;
  justify-content: center;
}

.illustration {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.illustration img {
  height: 450px;
}

.intro {
  width: 35%;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.intro h2 {
  color: white;
  font-family: Lato, sans-serif;
}

.signup-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 65px;
}

.btn-signup {
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  color: black;
  font-size: 20px;
  transition: background 0.3s ease;
}

.btn-signup:hover {
  background: linear-gradient(lightgrey, white);
  color: black;
  text-decoration: none;
}

.signup-info {
  font-family: Lato, sans-serif;
  font-style: italic;
  color: white;
  font-size: 16px;
  list-style: none;
  padding-top: 10px;
}


