.cards-container {
  overflow: hidden;
  background: white;
}

.cards-container > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-content p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.cards-container.card-content-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .card {
//   position: relative;
//   perspective: 150em;

//     &__side {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 25em;
//       backface-visibility: hidden;
//       transition: all .6s ease;
//       box-shadow: 1em 1em 2em rgba(0,0,0,.2);

//       &--front {
//         background-color: #FFF;
//       }

//       &--back {
//         color: #FFF;
//         transform: rotateY(180deg);

//         &-1 {
//           background-image: linear-gradient(to right bottom, #7ed56f, #28b485);;
//         }

//         &-2 {
//           background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
//         }

//         &-3 {
//           background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
//         }
//       }
//     }

//     &:hover &__side--front {
//       transform: rotateY(-180deg);
//     }

//     &:hover &__side--back {
//       transform: rotate(0);
//     }

//     &__description {
//       text-transform: uppercase;
//       font-size: 5em;
//       padding: 1em 0;
//     }
  // }


