.cards-container {
  overflow: hidden;
  background: white;
}

.cards-container > img {
  height: 200px;
  width: 100%;
}

.card-content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-content p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.cards-container.card-content-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-content img {
  object-fit: cover;
  &:hover {
    box-shadow: 5px 6px 34px -5px rgba(0,0,0,0.75);
  }
}
