.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 30px 45px 0 35px;
  background: linear-gradient(to right, #782F84, #973781);
  color: rgba(255, 255, 255, 0.75);
  font-family: Oswald, sans-serif;
  flex-shrink: 0;
  width: 100%;
}

.footer-info {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.footer-info:hover {
  opacity: 1;
  text-decoration: none;
}

.footer-socials a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  font-size: 26px;
  padding: 0px 10px;
}

.footer-socials a:hover {
  opacity: 1;
}

.info-links {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  padding: 0px 10px;
}

.info-links:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}
