// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rails-social-share-button";
@import "simple_calendar";

// Your CSS partials
@import "pages/index";
@import "components/index";

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex-grow: 1;
}

a {
  color: black;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}

.text-overflow {
  // width:250px;
  height:100px;
  display:block;
  overflow:hidden;
  word-break: break-word;
  word-wrap: break-word;
}

.btn-overflow {
  color: #fff;
  display: none;
}
